<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.heuet.shaohua.dao.NewsDOMapper">
    <resultMap id="BaseResultMap" type="edu.heuet.shaohua.dataobject.NewsDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, title, content, picture, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from news_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
        <bind name="param" value="'%'+ title +'%'"/>
        select
        <include refid="Base_Column_List"/>
        from news_info
        where title LIKE #{param}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from news_info
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from news_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="edu.heuet.shaohua.dataobject.NewsDO">
        insert into news_info (id, title, content, picture,
        create_time, update_time)
        values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},
        #{picture,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="edu.heuet.shaohua.dataobject.NewsDO">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 17 23:26:31 GMT+08:00 2020.
        -->
        insert into news_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="picture != null">
                picture,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="picture != null">
                #{picture,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.heuet.shaohua.dataobject.NewsDO">
        update news_info
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                title = #{content,jdbcType=VARCHAR},
            </if>
            <if test="picture != null">
                picture = #{picture,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.heuet.shaohua.dataobject.NewsDO">
        update news_info
        set title = #{title,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        picture = #{picture,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>